body{
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}
 .header{
    background: #0d47a1;
    color:whitesmoke;
    padding: 20px;
    text-align: center;
 }

 .nav {
  color: #1976d2;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 40px;
 }

 .nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
 } 

 .hero{
    text-align: center;
    padding: 70px;
    background: #f2f2f2;

 }
 .hero h2{
    color: #0d47a1;
 }

 .hero button{
    
   padding: 12px 25px;
   background: #0d47a1;
   color: white;
   border: none;
   margin-top: 15px;
   cursor: pointer;
 }
 .product{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
 }
 .card{
    background: white;
    border: 10px;
    padding: 25px;
    width: 180px;
    text-align: center;
     box-shadow: 0 0 10px rgba(0, 0, 0, .1);
 }
 .footer{
    background: #0d47a1;
    color: white;
    text-align: center;
padding: 15px;
 }